<nav class="navbar navbar-custom navbar-default navbar-fixed-top">
	<div class = "container">
		<div class = "navbar-header">
			<%= link_to image_tag("nav_2.png"),new_user_session_path,class: "navbar-brand" %>
		</div>
		<div class = "navbar-right">
			<ul class = "nav navbar-nav">

				<li><%= link_to "About","#"%></li>
				<li><%= link_to "Services","#"%></li>
			</ul>
		</div>
	</div>
</nav>

<header>
	<div class = "intro-content">
		<%= image_tag "text_3.png" %>
		<p class = "text-center"><%= link_to "Sign in",new_user_session_path, class: "btn btn-success btn-lg"%></p>
	</div>
</header>








