<div class = "container">
<h1>Shop Orders</h1>

<table class = "table table-hover table-striped">
  <thead>
    <tr>
      <th>Order id</th>
      <th>Paid Status</th>
      <th>Time Of order</th>
      <th>Amount</th>
      <%= admins_only do %>
      <th>Details</th>
      <th>Update</th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>Order #<%= order.id %></td>
        <td>
          <% if order.paid %>
          <strong><p id = "paid">Paid</p></strong>
          <%else%>
          <strong><p id = "not_paid">Not Paid</p></strong>
          <%end%>
        </td>
        <td>
          <%= order.created_at.strftime("%d-%b-%Y %H:%M") %>
        </td>
        <td>
          <%= number_to_currency(order.order_price,:precision => 0,:unit => "Ksh", :format => "%u %n") %>
        </td>


        <%= admins_only do %>
        <td><%= link_to 'View Order Details', order %></td>
        <td><%= link_to "Edit Order Details",edit_order_path(order) %></td>
        <%end%>
      </tr>
    <%end%>
  </tbody>
</table>


<%= will_paginate @orders,renderer: BootstrapPagination::Rails %>

<br>

<%= link_to 'Return to SBS Shop', store_path %>
</div>
