<h1>Shop Orders</h1>

<table class = "table table-hover table-striped">
  <thead>
    <tr>
      <th>Order id</th>
      <th>Paid Status</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>Order #<%= order.id %></td>
        <td>
          <% if order.paid %>
          <strong><p id = "paid">Paid</p></strong>
          <%else%>
          <strong><p id = "not_paid">Not Paid</p></strong>
          <%end%>
        </td>


        <%= admins_only do %>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Return to SBS Shop', store_path %>
