<div class = "container">
<h3>Complete the New order</h3>
<p class="order_return_to_store"><%= link_to 'Return to SBS Shop', store_path,class: "btn btn-default" %></p>

<table class = "table">
	<% @cart.line_items.each do |line_item| %>
	<tr>
	<td><%= line_item.product.name %> &times; <%= line_item.quantity %></td>
	<td><%= number_to_currency(line_item.total_price,:precision => 2,:unit => "Ksh",
				:format => "%u %n") %></td>
	<%end%>
    </tr>

	<tr>
		<td><strong>Total</strong></td>
		<td><strong><%= number_to_currency(@cart.total_price,:precision => 2,:unit => "Ksh",
		:format => "%u %n")%></strong></td>
	</tr>
</table>


<strong><h3 class = "order_cash_paid"> Enter Amount of Cash Paid by the Customer </h3></strong>
<%= render 'form' %>


</div>