<div class = "panel panel-default">
	<div class = "panel-body">
		<h2>Staging Company Retail shop</h2>
		<p><%= Time.current.strftime("%d-%b-%Y") %></p>
	</div>
</div>

<%= render "admin/shared/current_assets" %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Total Expenses</h3>
  </div>
  <div class="panel-body">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Expenses Summary</h3>
      </div>
      <div class="panel-body">
        <h4><%= number_to_currency(@total_expenses,:precision => 2,:format => "%u %n") %></h4>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Income From Shop On a Daily Basis</h3>
  </div>
  <div class="panel-body">
    <canvas height="450" id="shop_income" width="900"></canvas>
    <div class="panel panel-primary">
      <div class = "panel-heading">
        <h3 class="panel-title">Total Value of all Income</h3>
      </div>
      <div class="panel-body">
        <h4><strong><%= number_to_currency(@total_income,:precision => 2,:format => "%u %n") %></strong></h4>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Profit and Loss on a Monthly Basis</h3>
  </div>
  <div class="panel-body">
    <canvas height="450" id="profit_loss" width="900"></canvas>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Profit and Loss Summary</h3>
      </div>
      <div class="panel-body">
        <% if @profit > 0 %>
        <h4 id = "profit"><strong><span> Profit </span><%= number_to_currency(@profit,:precision => 2,:format => "%u %n") %></strong></h4>
        <% else %>
        <h4 id = "loss"><strong><span> Loss </span><%= number_to_currency(@profit,:precision => 2,:format => "%u %n") %></strong></h4>
        <%end%>
      </div>
    </div>
  </div>
</div>

