
<div class = "panel panel-default">
	<div class = "panel-body">
		<h2>SBS shop</h2>
		<p><%= Time.current.strftime("%d-%b-%Y") %></p>
	</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Expenses</h3>
  </div>
  <div class="panel-body">
  	<h4><%= number_to_currency(@total_expenses,:precision => 0,:unit => "Ksh",:format => "%u %n") %></h4>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Income From Shop</h3>
  </div>
  <div class="panel-body">
  	<h4><%= number_to_currency(@total_income,:precision => 0,:unit => "Ksh",:format => "%u %n") %></h4>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Profit and Loss</h3>
  </div>
  <div class="panel-body">
  	<% if @profit > 0 %>
  	<h4 id = "profit"><%= number_to_currency(@profit,:precision => 0,:unit => "Ksh",:format => "%u %n") %></h4>
  	<% else %>
  	<h4 id = "loss"><%= number_to_currency(@profit,:precision => 0,:unit => "Ksh",:format => "%u %n") %></h4>
  	<%end%>
  </div>
</div>

