<h2> Purchases </h2>

<table class = "table table-hover table-striped">
	<thead>
		<tr>
			<th>Product Name</th>
			<th>Unit of measure</th>
			<th>Purchase price</th>
			<th>Quantity Bought</th>
			<th>Total Current Asset Value</th>
			<th>Items sold</th>
			<th>Date of Purchase</th>
			<th>Selling price</th>
			<th>Profit per item</th>
			<th>Current Total Profit</th>
		</tr>
	</thead>
	<tbody>
		<% @products.each do |product| %>
		<tr>
			<td><%= product.name %></td>
			<td><%= product.units %></td>
			<td><%= number_to_currency(product.purchase_price,:precision => 0,:unit => "Ksh",:format => "%u %n") %></td>
			<td>
				<% if (product.quantity == 0) %>
				<small class = "sold_out"><strong> Sold out </strong></small>
				<%else%>
				<%= product.quantity %>
				<%end%>
			</td>
			<td>
				<% if(product.total_price == 0) %>
				<small class = "restock"><strong> Re-stock product</strong></small>
				<%else%>
				<%= number_to_currency(product.total_price,:precision => 0,:unit => "Ksh",:format => "%u %n") %>
				<%end%>
			</td>
			<td><%= product.total_sold %></td>
			<td><%= product.created_at.strftime("%d-%b-%Y %H:%M")%></td>
			<td><%= number_to_currency(product.shop_price,:precision => 0,:unit => "Ksh",:format => "%u %n") %></td>
			<td><%= number_to_currency(product.shop_price - product.purchase_price,:precision => 0,:unit => "Ksh",:format => "%u %n")%></td>
			<td><%= number_to_currency(product.total_sold * (product.shop_price - product.purchase_price),:precision => 0,:unit => "Ksh",:format => "%u %n")%></td>
		</tr>
		<%end%>
	</tbody>
</table>

<%= will_paginate @products,renderer: BootstrapPagination::Rails %>