<h2> Purchases </h2>

<table class = "table table-hover table-striped">
	<thead>
		<tr>
			<th>Product Name</th>
			<th>Unit of measure</th>
			<th>Purchase price</th>
			<th>Total Purchase price</th>
			<th>Date of Purchase</th>
			<th>Quantity in store</th>
			<th>Items sold</th>
			<th>Selling price</th>
			<th>Profit per item</th>
			<th>Total Profit</th>
		</tr>
	</thead>
	<tbody>
		<% @products.each do |product| %>
		<tr>
			<td><%= product.name %></td>
			<td><%= product.units %></td>
			<td><%= number_to_currency(product.purchase_price,:precision => 0,:unit => "Ksh",:format => "%u %n") %></td>
			<td><%= number_to_currency(product.total_price,:precision => 0,:unit => "Ksh",:format => "%u %n") %></td>
			<td><%= product.created_at.strftime("%d-%b-%Y %H:%M")%></td>
			<td><%= product.quantity %></td>
			<td><%= product.total_sold %></td>
			<td><%= number_to_currency(product.shop_price,:precision => 0,:unit => "Ksh",:format => "%u %n") %></td>
			<td><%= number_to_currency(product.shop_price - product.purchase_price,:precision => 0,:unit => "Ksh",:format => "%u %n")%></td>
			<td><%= number_to_currency(product.quantity * (product.shop_price - product.purchase_price),:precision => 0,:unit => "Ksh",:format => "%u %n")%></td>
		</tr>
		<%end%>
	</tbody>
</table>

<%= will_paginate @products,renderer: BootstrapPagination::Rails %>