<header class = "row">
	<div class = "col-lg-6">
		<h2>Welcome <%= current_user.first_name %></h2>
		<p>Signed in as <strong><%= current_user.email %></strong></p>
    </div>
</header>


<% if user_signed_in? %>
<div class = "row">
    <div class = "col-md-3 col-xs-6">
    	<div class = "panel panel-primary">
    		<div class = "panel-heading">
    			<div class = "text-center"><span class = "glyphicon glyphicon-folder-open"></span></div>
    		</div>
    		<div class = "panel-footer">
    			<p class = "text-center"><%= link_to "Inventory" ,products_path %></p>
    		</div>
    	</div>
    </div>
<%end%>

<%= admins_only do %>
	<div class = "col-md-3 col-xs-6">
		<div class = "panel panel-primary">
			<div class = "panel-heading">
				<div class = "text-center"><span class = "glyphicon glyphicon-shopping-cart"></span></div>
			</div>
			<div class = "panel-footer">
				<p class = "text-center"><%= link_to "Sales", orders_path %></p>
			</div>
		</div>
	</div>

</div>
<%end%>


