<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class = "navbar-header">
      <%= link_to "Superior Base Services LTD",root_path, class: "navbar-brand"%>
    </div>
      
      <ul class = "nav navbar-nav">

        <% if user_signed_in? %>
        <li><%= link_to "Dashboard" ,dashboard_path %></a></li>
        <li><%= link_to "Store",store_path %></li>
        <%end%>

        <%= admins_only do %>
        <li><%= link_to "Admin",admin_root_path %></li>
        <li><a href="#">Business Analytics</a></li>
        <%end%>

        <% if user_signed_in? %>
        <li><%= link_to "Sign out", destroy_user_session_path,method: 'delete' %></li>
        <%end%>

        <li>
      </ul>
      </div>
    
  </div>
</nav>