<div class = "form_width">
<%= form_for(@product) do |f| %>
    <%= form_group_for f, :name do %>
        <%= f.text_field :name ,placeholder: "Enter name of utility product", class: "form-control input-lg"%>
    <%end%>
    <%= form_group_for f, :product_type do %>
        <%= f.text_field :product_type, placeholder: "Enter the type of product",class: "form-control input-lg"  %> 
    <%end%>
    <%= form_group_for f, :units do %>
        <%= f.text_field :units,placeholder: "Example bottles,pairs,pieces,1kg blueband", class: "form-control input-lg" %>
    <%end%>
    <%= form_group_for f, :quantity do %>
        <%= f.text_field :quantity,placeholder: "Whole number count example 10 ", class: "form-control input-lg"%>
    <%end%>
    <%= form_group_for f, :purchase_price do %>
        <%= f.text_field :purchase_price,placeholder: "buying price for each item",class: "form-control input-lg" %>
    <%end%>
    <%= form_group_for f, :shop_price do %>
        <%= f.text_field :shop_price,placeholder: "selling price for each item", class: "form-control input-lg" %>
    <%end%>
    <%= f.submit class: "btn btn-primary btn-lg" %>
<% end %>
</div>
