<div id = "sidebar-wrapper">
	<ul class = "sidebar-nav">
		<li><%= link_to "Admin Home",admin_root_path %></li>
		<li><%= link_to "Users" ,admin_users_path %></li>
		<li><%= link_to "Expenses",admin_expenses_path %></li>
		<li><%= link_to "Sales",admin_sales_path %></li>
		<li><%= link_to "Purchases",admin_purchase_path %></li>

	</ul>
</div>